@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

@layer base {
  @font-face {
    font-family: 'LMRoman10-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('LMRoman10-Regular'), url('/static/fonts/lmroman10-regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRomanCaps10-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('LMRomanCaps10-Regular'), url('/static/fonts/lmromandemi10-regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRomanDunh10-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('LMRomanDunh10-Regular'), url('/static/fonts/lmromandunh10-regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRomanSlant10-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('LMRomanSlant10-Regular'), url('/static/fonts/lmromanslant10-regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRoman10-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('LMRoman10-Italic'), url('/static/fonts/lmroman10-italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRomanCaps10-Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('LMRomanCaps10-Oblique'), url('/static/fonts/lmromancaps10-oblique.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRomanDunh10-Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('LMRomanDunh10-Oblique'), url('/static/fonts/lmromandunh10-oblique.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRomanDemi10-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('LMRomanDemi10-Regular'), url('/static/fonts/lmromandemi10-regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRomanDemi10-Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('LMRomanDemi10-Oblique'), url('/static/fonts/lmromandemi10-oblique.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRoman10-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('LMRoman10-Bold'), url('/static/fonts/lmroman10-bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRoman10-BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('LMRoman10-BoldItalic'), url('/static/fonts/lmroman10-bolditalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'LMRomanSlant10-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('LMRomanSlant10-Bold'), url('/static/fonts/lmromanslant10-bold.woff') format('woff');
    }
}